.card-text,
.card-title {
  max-width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text {
  -webkit-line-clamp: 4;
}
.card-title {
  -webkit-line-clamp: 2;
}

.readMorBtn {
  position: absolute;
  bottom: 0;
}

.paginationBtn{
  min-width: 100px;
}